
@{
    ViewBag.Title = "Insert";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增菜品类型</title>
</head>
<body>
    <form id="team" class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-2 control-label">名称:</label>
            <div class="col-sm-10"><input id="czlxmc" name="czlxmc" class="form-control" type="text" placeholder="请输入餐桌类型名称"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人数:</label>
            <div class="col-sm-10"><input id="czlxrs" name="czlxrs" class="form-control" type="text" placeholder="请输入餐桌可坐人数"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">描述:</label>
            <div class="col-sm-10"><input id="czlxms" name="czlxms" class="form-control" type="text" placeholder="请输入餐桌类型描述"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">序号:</label>
            <div class="col-sm-10">
                <div class="input-group spinner">
                    <input id="czlxxh" name="czlxxh" type="number" class="form-control" value="1" style="text-align:left">
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button>
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $('.spinner .btn:first-of-type').on('click', function () {
                $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
            });
            $('.spinner .btn:last-of-type').on('click', function () {
                $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
            });
        });
    </script>
 </body>
</html>

