
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BootStrap Table使用</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--dialog begin-->
    <link href="~/Content/restaurant/dialog/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/restaurant/dialog/bootstrap-dialog.js"></script>
    <!--dialog end-->

</head>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">...</p>
        </a>
    </div>
</body>
</html>

