
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>菜品编辑</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!--dialog begin-->
    <link href="~/Content/restaurant/dialog/bootstrap-dialog.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/restaurant/dialog/bootstrap-dialog.js"></script>
    <!--dialog end-->
    <!--数字步进器 begin-->
    <link href="~/Content/restaurant/other/szbjq/szbjq.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/restaurant/other/szbjq/szbjq.js"></script>
    <!--数字步进器 end-->
    <!--select begin-->
    <link href="~/Content/restaurant/select/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/restaurant/select/bootstrap-select.js"></script>
    <!--select end-->
    <script src="~/Content/restaurant/other/dialog/dialog-common.js"></script><!-- 消息dialog -->
    <script src="~/Content/restaurant/other/dialog/dialog-insert.js"></script><!-- 消息dialog -->
    <script src="~/Content/restaurant/other/dialog/dialog-update.js"></script><!-- 消息dialog -->
    <script src="~/Content/restaurant/other/dialog/dialog-delete.js"></script><!-- 消息dialog -->

</head>
<body>
    <div id="panel-body" class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div id="panel-head" class="panel-heading">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <select id="sfsj-btn" class="selectpicker show-tick" data-width="auto">
                                    <option value="2">所有</option>
                                    <option value="1">已上架</option>
                                    <option value="0">未上架</option>
                                </select>
                                <select id="cplx-btn" class="selectpicker show-tick" data-width="auto"></select>
                            </span>
                            <input id="search-input" type="text" class="form-control" placeholder="请输入菜品名称">
                            <span class="input-group-btn">
                                <button id="search-btn" class="btn btn-default" type="button">搜索</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div>
            <div id="list-group" class="list-group">
            </div>
            <div id="pageSize">
                <input id="page" type="hidden">
                <nav aria-label="...">
                    <ul class="pager">
                        <li><a id="previous" href="#">上一页</a></li>
                        <li><a id="next" href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg text-center" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" style="display: inline-block; width: auto;">
            <div class="modal-content">
                <img id="imgInModalID" style="height:500px;width:500px" src="">
            </div>
        </div>
    </div>
    <script>
        $("#panel-body").css("height", $(window).height());
        $("#list-group").css("height", $(window).height() - $("#panel-head").height() - $("#pageSize").height() - 100);
        var obj = @Html.Raw(Json.Encode(Model));
        $("#cplx-btn").append("<option value=0>所有类型</option>");
        for (var i = 0; i < obj.Data.cplx.length; i++) {
            $("#cplx-btn").append("<option value=" + obj.Data.cplx[i].id + ">" + obj.Data.cplx[i].name + "</option>");
        }
        $(window).resize(function () {
                $("#panel-body").css("height", $(window).height());
                $("#list-group").css("height", $(window).height() - $("#panel-head").height() - $("#pageSize").height() - 100);
                var limit = parseInt($("#list-group").height() / 165);
                //重新规划页面
                $("#sfsj-btn").val(2);
                $("#cplx-btn").val(0);
                $("#search-input").val("");
                $("#page").val(1);
                setList(limit, 0, $("#search-input").val(), $("#cplx-btn").val(),$("#sfsj-btn").val());
        });
        $("#cplx-btn").change(function(){
            $("#search-input").val("");
            var limit = parseInt($("#list-group").height() / 165);
            $("#page").val(1);
            setList(limit, 0, "", $(this).val(),$("#sfsj-btn").val());
        });
        $("#sfsj-btn").change(function(){
            $("#search-input").val("");
            var limit = parseInt($("#list-group").height() / 165);
            $("#page").val(1);
            setList(limit, 0, "", $("#cplx-btn").val(),$(this).val());
        });
        $("#search-btn").click(function(){
            var limit = parseInt($("#list-group").height() / 165);
            $("#page").val(1);
            setList(limit, 0, $("#search-input").val(), $("#cplx-btn").val(),$("#sfsj-btn").val());
        });
        $("#previous").click(function(){
            var limit = parseInt($("#list-group").height() / 165);
            var page = parseInt($("#page").val())-1;
            $("#page").val(page);
            setList(limit, (page-1)*limit,  $("#search-input").val(), $("#cplx-btn").val(),$("#sfsj-btn").val());
        });
        $("#next").click(function(){
            var limit = parseInt($("#list-group").height() / 165);
            var page = parseInt($("#page").val())+1;
            $("#page").val(page);
            setList(limit, (page-1)*limit, $("#search-input").val(), $("#cplx-btn").val(),$("#sfsj-btn").val());
        });

        $(function () {
            //alert($("#list-group").height() / 165);
            var limit = parseInt($("#list-group").height() / 165);
            $("#page").val(1);
            setList(limit, 0, $("#search-input").val(), $("#cplx-btn").val(),$("#sfsj-btn").val());
        });
        function setList(limit, offset, search, type ,sfsj) {//页面行数，起始行，搜索内容，类型 上架状态
            var data = {
                limit : limit,
                offset : offset,
                search: search,
                type : type,
                sfsj : sfsj
            }
            $.ajax({
                type: "post",
                url: "Cpsj/getList",
                async: true,
                data: data,
                dataType: "json",
                success: function (result) {
                    $("#list-group").empty();
                    if($("#page").val()==1)
                        $("#previous").hide();
                    else
                        $("#previous").show();

                    if($("#page").val()==Math.ceil(result.total/limit))
                        $("#next").hide();
                    else{
                        $("#next").show();
                    }

                    for (var i = 0; i < result.rows.length; i++) {
                        var html = "<div class='list-group-item'><ul class='media-list'><li class='media'>"
                                            + "<div class='media-left'>"
                                                + "<a href='javascript:void(0)' onclick='showBigImg(\"" + result.rows[i].img + "\")'>"
                                                    + "<img class='media-object img-rounded' src='" + result.rows[i].img + "' style='width:134px;height:134px' alt='...'>"
                                                + "</a>"
                                            + "</div>"
                                            + "<div class='media-body'>"
                                                + "<h4>"
                                                    + "<label style='color:black'>" + result.rows[i].name + "</label><span style='color:red'> " + result.rows[i].price + "￥/" + result.rows[i].unit + "</span>"
                                                + "</h4>"
                                                + "<p>" + result.rows[i].type + "</p>"
                                                + "<p>" + result.rows[i].remark + "</p>"
                                            + "</div>"
                                            + "<div class='media-right'>"
                        if(result.rows[i].sfsj==0)//此处仅是设置菜品是否可以上架销售，上架的数量在销售计划中配置
                            html = html + "<button class='btn btn-info' onclick='toSj(" + result.rows[i].id + ")'>上架</button></div></li></ul></div>";
                        else{
                            html = html+ "<button class='btn btn-danger' onclick='toXj(" + result.rows[i].id + ")'>下架</button></div></li></ul></div>";
                        }
                        $("#list-group").append(html);
                    };
                },
                error: function () {
                    $("#list-group").empty();
                    $("#list-group").append("<p style='text-align:center'>没有找到匹配的记录</p>")
                }
            });
        }
        function showBigImg(src) {
            $('#imgInModalID').attr('src',src);
            $('#imgModal').modal({
                keyboard: true
            })
        }
        function toSj(cpid){
            update(cpid,1);//修改sfsj是否上架的状态为1，使其上架
        }
        function toXj(cpid){//修改sfsj是否上架的状态为0，使其下架
            update(cpid,0);
        }
        function update(cpid,sfsj){//修改sfsj/是否上架的状态 0为下架 1为上架
            data={ 
                    cpid:cpid,
                    sfsj:sfsj
                };
            $.ajax({
                type: "POST",
                url: 'Cpsj/Updating',
                data: data,
                dataType: "json",
                success: function (result) {
                    if (result.result == "success") {
                        if(sfsj==0)//下架成功
                            success_dialog("菜品下架成功");
                        else//上架成功
                            success_dialog("菜品上架成功");
                        var limit = parseInt($("#list-group").height() / 165);
                        var page = parseInt($("#page").val())
                        setList(limit, (page-1)*limit, $("#search-input").val(), $("#cplx-btn").val());
                    }
                    else {
                        if(sfsj==0)//下架
                            danger_dialog("菜品下架失败，请重试");
                        else//上架
                            danger_dialog("菜品上架失败，请重试");
                    }
                },
                error: function () {
                    error();
                }
            });
        }
    </script>
</body>
</html>

