
@{
    ViewBag.Title = "Update";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增菜品类型</title>
</head>
<body>
    <form id="team" class="form-horizontal" role="form">
        <input id="czxxid" name="czxxid" class="form-control" type="hidden">
        <div class="form-group">
            <label class="col-sm-2 control-label">桌号:</label>
            <div class="col-sm-10"><input id="czxxzh" name="czxxzh" class="form-control" type="text" placeholder="请输入菜品类型名称"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">餐桌类型:</label>
            <div class="col-sm-10">
                <select id="czlx" name="czlx" class="form-control"></select>
            </div>
        </div>
        @*<div class="form-group">
        <label class="col-sm-2 control-label">状态:</label>
        <div class="col-sm-10"><input id="czxxstatus" name="czxxstatus" class="form-control" type="text" placeholder="请输入菜品类型名称"></div>
        </div>*@
        <div class="form-group">
            <label class="col-sm-2 control-label">描述:</label>
            <div class="col-sm-10"><input id="czxxms" name="czxxms" class="form-control" type="text" placeholder="请输入菜品类型描述"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">序号:</label>
            <div class="col-sm-10">
                <div class="input-group spinner">
                    <input id="czxxxh" name="czxxxh" type="number" class="form-control" value="1" style="text-align:left">
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button>
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $('.spinner .btn:first-of-type').on('click', function () {
                $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
            });
            $('.spinner .btn:last-of-type').on('click', function () {
                $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
            });
            var obj = @Html.Raw(Json.Encode(Model));
            $("#czxxid").val(obj.Data.czxx.id);
            $("#czxxzh").val(obj.Data.czxx.zh);
            //$("#czxxstatus").val(obj.Data.czxx.status);
            $("#czxxms").val(obj.Data.czxx.remark);
            $("#czxxxh").val(obj.Data.czxx.rank);
            for (var i = 0; i < obj.Data.czlx.length; i++) {
                if(obj.Data.czlx[i].id==obj.Data.czxx.czlx_id)
                    $("#czlx").append("<option value=" +obj.Data.czlx[i].id + " selected='selected'>" + obj.Data.czlx[i].name + "</option>");
                else
                    $("#czlx").append("<option value=" +obj.Data.czlx[i].id + ">" + obj.Data.czlx[i].name + "</option>");
            }
            
        });
        
    </script>
</body>
</html>

